<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Owner List Page</title>
</head>
<body>
<!--/*@thymesVar id="vets" type="io.lker.petclinic.model.Vet"*/-->
<h2 th:text="'List of Vets'">Vets Index Page</h2>

<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <td>id</td>
        <td>first name</td>
        <td>last name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet?.id}">1</td>
        <td th:text="${vet?.firstName}">Joe</td>
        <td th:text="${vet?.lastName}">Allen</td>
    </tr>

    </tbody>

</table>

</body>
</html>