<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owner List Page</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="io.lker.petclinic.model.Owner"*/-->
    <h1 th:text="'List of Owners'">Owner Index Page</h1>

    <table>
        <thead>
            <tr>
                <td>id</td>
                <td>first name</td>
                <td>last name</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner?.id}">1</td>
                <td th:text="${owner?.firstName}">Joe</td>
                <td th:text="${owner?.lastName}">Allen</td>
            </tr>

        </tbody>

    </table>

</body>
</html>